<!-- BEGIN_INCLUDE(paypal:get-balance) -->
<paypal:get-balance />
<!-- END_INCLUDE(paypal:get-balance) -->

<!-- BEGIN_INCLUDE(paypal:address-verify) -->
<paypal:address-verify email="xxxx@yyyy.com" zip="11305" street="111 Main St."/>
<!-- END_INCLUDE(paypal:address-verify) -->

<!-- BEGIN_INCLUDE(paypal:capture) -->
<paypal:capture amount="10.0" authorizationId="1111111" complete="true"/>
<!-- END_INCLUDE(paypal:capture) -->

<!-- BEGIN_INCLUDE(paypal:authorize) -->
<paypal:authorize amount="10.0" transactionId="1111111" transactionEntity="ORDER"/>
<!-- END_INCLUDE(paypal:authorize) -->

<!-- BEGIN_INCLUDE(paypal:get-pal-details) -->
<paypal:get-pal-details />
<!-- END_INCLUDE(paypal:get-pal-details) -->

<!-- BEGIN_INCLUDE(paypal:re-authorize) -->
<paypal:re-authorize amount="10.0" authorizationId="1111111" />
<!-- END_INCLUDE(paypal:re-authorize) -->

<!-- BEGIN_INCLUDE(paypal:do-void) -->
<paypal:do-void authorizationId="1111111" note="Note"/>
<!-- END_INCLUDE(paypal:do-void) -->

<!-- BEGIN_INCLUDE(paypal:get-transaction-details) -->
<paypal:get-transaction-details transactionId="1111111"/>
<!-- END_INCLUDE(paypal:get-transaction-details) -->

<!-- BEGIN_INCLUDE(paypal:manage-pending-transaction-status) -->
<paypal:manage-pending-transaction-status action="ACCEPT" transactionId="1111111" />
<!-- END_INCLUDE(paypal:manage-pending-transaction-status) -->

<!-- BEGIN_INCLUDE(paypal:refund-transaction) -->
<paypal:refund-transaction amount="10.0" refundType="FULL" transactionId="1111111"/>
<!-- END_INCLUDE(paypal:refund-transaction) -->

<!-- BEGIN_INCLUDE(paypal:mass-pay) -->
<paypal:mass-pay emailSubject="Subject" receiverType="EMAIL_ADDRESS">
    <paypal:mass-pay-items>
        <paypal:mass-pay-item value-ref="#[payload]" />
    </paypal:mass-pay-items>
</paypal:mass-pay>
<!-- END_INCLUDE(paypal:mass-pay) -->

<!-- BEGIN_INCLUDE(paypal:do-direct-payment) -->
<paypal:do-direct-payment ipAddress="127.0.0.1"> 
    <paypal:card-details>
    	<paypal:card-owner>
		</paypal:card-owner>
    </paypal:card-details>
    <paypal:payment-details/>
</paypal:do-direct-payment>
<!-- END_INCLUDE(paypal:do-direct-payment) -->

<!-- BEGIN_INCLUDE(paypal:do-cancel) -->
<paypal:do-cancel cancelMsgSubId="11111111"/>
<!-- END_INCLUDE(paypal:do-cancel) -->
<!-- BEGIN_INCLUDE(paypal:do-non-referenced-credit) -->
	<paypal:do-non-referenced-credit amount="10.0">
	</paypal:do-non-referenced-credit>
<!-- END_INCLUDE(paypal:do-non-referenced-credit) -->

<!-- BEGIN_INCLUDE(paypal:set-express-checkout) -->
<paypal:set-express-checkout returnUrl="dummy.url" cancelUrl="dummy.url"/>
<!-- END_INCLUDE(paypal:set-express-checkout) -->

<!-- BEGIN_INCLUDE(paypal:get-express-checkout-details) -->
<paypal:get-express-checkout-details token="token"/>
<!-- END_INCLUDE(paypal:get-express-checkout-details) -->

<!-- BEGIN_INCLUDE(paypal:do-express-checkout-payment) -->
<paypal:do-express-checkout-payment token="token" payerId="payerID"/>
<!-- END_INCLUDE(paypal:do-express-checkout-payment) -->

<!-- BEGIN_INCLUDE(paypal:get-billing-agreement-customer-details) -->
<paypal:get-billing-agreement-customer-details token="token"/>
<!-- END_INCLUDE(paypal:get-billing-agreement-customer-details) -->

<!-- BEGIN_INCLUDE(paypal:get-recurring-payments-profile-details) -->
<paypal:get-recurring-payments-profile-details profileId="profileId"/>
<!-- END_INCLUDE(paypal:get-recurring-payments-profile-details) -->

<!-- BEGIN_INCLUDE(paypal:bill-outstanding-amount) -->
<paypal:bill-outstanding-amount profileId="profileId"/>
<!-- END_INCLUDE(paypal:bill-outstanding-amount) -->

<!-- BEGIN_INCLUDE(paypal:set-customer-billing-agreement) -->
<paypal:set-customer-billing-agreement returnUrl="dummy.url" cancelUrl="dummy.url"/>
<!-- END_INCLUDE(paypal:set-customer-billing-agreement) -->

<!-- BEGIN_INCLUDE(paypal:do-reference-transaction) -->
<paypal:do-reference-transaction referenceId="111111"/>
<!-- END_INCLUDE(paypal:do-reference-transaction) -->

<!-- BEGIN_INCLUDE(paypal:create-recurring-payments-profile) -->
<paypal:create-recurring-payments-profile token="11111">
    <paypal:credit-card-details/>
    <paypal:recurring-pauments-profile-details/>
    <paypal:schedule-details/>
</paypal:create-recurring-payments-profile>
<!-- END_INCLUDE(paypal:create-recurring-payments-profile) -->

<!-- BEGIN_INCLUDE(paypal:manage-recurring-payments-profile-status) -->
<paypal:manage-recurring-payments-profile-status profileId="111111" action="CANCEL"/>
<!-- END_INCLUDE(paypal:manage-recurring-payments-profile-status) -->

<!-- BEGIN_INCLUDE(paypal:create-billing-agreement) -->
<paypal:create-billing-agreement token="token"/>
<!-- END_INCLUDE(paypal:create-billing-agreement) -->
<!-- BEGIN_INCLUDE(paypal:update-recurring-payments-profile) -->
<paypal:update-recurring-payments-profile profileId="111111"/>
<!-- END_INCLUDE(paypal:update-recurring-payments-profile) -->